@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Thai:100,200,300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans+JP:100,200,300,regular,500,600,700);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'IBM Plex Sans Thai', 'IBM Plex Sans JP', sans-serif;
	transition: all .3s;
}

html, body {
	scroll-behavior: smooth;
}